<div class="d-flex">
  <div class="mr-auto p-2">
    <button (click)="left()">gauche</button>
  </div>
  <div class="p-2">
    <button (click)="right()">droite</button>
  </div>
</div>
<br>
<table class="table" style="text-align: center;">
  <thead>
    <th scope="col">Lundi {{lundi | date: 'dd/MM/yyy'}}</th>
    <th scope="col">Mardi {{mardi | date: 'dd/MM/yyy'}}</th>
    <th scope="col">Mercredi {{mercredi | date: 'dd/MM/yyy'}}</th>
    <th scope="col">Jeudi {{jeudi | date: 'dd/MM/yyy'}}</th>
    <th scope="col">Vendredi {{vendredi | date: 'dd/MM/yyy'}}</th>
    <th scope="col">Samedi {{samedi | date: 'dd/MM/yyy'}}</th>
    <th scope="col">Dimanche {{dimanche | date: 'dd/MM/yyy'}}</th>
  </thead>
</table>
