USE [master]
GO
/****** Object:  Database [Pokemon]    Script Date: 16/09/2021 15:08:30 ******/
CREATE DATABASE [Pokemon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dresseur', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dresseur.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dresseur_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dresseur_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pokemon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pokemon]
GO
/****** Object:  Table [dbo].[dresseur]    Script Date: 16/09/2021 15:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dresseur](
	[id] [int] NOT NULL,
	[nom] [nchar](10) NOT NULL,
	[badge] [int] NULL,
	[pokedex] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pokemon]    Script Date: 16/09/2021 15:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pokemon](
	[pokedex_number] [int] NOT NULL,
	[name] [nchar](99) NOT NULL,
	[speed] [int] NOT NULL,
	[special_defence] [int] NOT NULL,
	[special_attack] [int] NOT NULL,
	[defence] [int] NOT NULL,
	[attack] [int] NOT NULL,
	[hp] [int] NOT NULL,
	[primary_type] [nchar](99) NOT NULL,
	[secondary_type] [nchar](99) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[dresseur] ([id], [nom], [badge], [pokedex]) VALUES (1, N'red       ', 8, 151)
INSERT [dbo].[dresseur] ([id], [nom], [badge], [pokedex]) VALUES (2, N'blue      ', 8, 150)
GO
INSERT [dbo].[pokemon] ([pokedex_number], [name], [speed], [special_defence], [special_attack], [defence], [attack], [hp], [primary_type], [secondary_type]) VALUES (1, N'Bulbasaur                                                                                          ', 45, 65, 65, 49, 49, 45, N'Grass                                                                                              ', N'Poison                                                                                             ')
INSERT [dbo].[pokemon] ([pokedex_number], [name], [speed], [special_defence], [special_attack], [defence], [attack], [hp], [primary_type], [secondary_type]) VALUES (2, N'Ivysaur                                                                                            ', 60, 80, 80, 63, 62, 60, N'Grass                                                                                              ', N'Poison                                                                                             ')
INSERT [dbo].[pokemon] ([pokedex_number], [name], [speed], [special_defence], [special_attack], [defence], [attack], [hp], [primary_type], [secondary_type]) VALUES (3, N'Venusaur                                                                                           ', 80, 100, 100, 83, 82, 80, N'Grass                                                                                              ', N'Poison                                                                                             ')
GO
USE [master]
GO
