<br>
<table class="table table-sm">
    <thead>
        <th scope="col" style="text-align: center;">Pokedex</th>
        <th scope="col" style="text-align: center;">Nom</th>
        <th scope="col" style="text-align: center;">Vitesse</th>
        <th scope="col" style="text-align: center;">Défense Special</th>
        <th scope="col" style="text-align: center;">Attaque Special</th>
        <th scope="col" style="text-align: center;">Defense</th>
        <th scope="col" style="text-align: center;">Attaque</th>
        <th scope="col" style="text-align: center;">NB Vie</th>
        <th scope="col" style="text-align: center;">Type</th>
        <th scope="col" style="text-align: center;">Second Type</th>
        <th style="text-align: center;"><img src="../assets/nb/0.png"/></th>
    </thead>
    <tbody>
      <tr *ngFor="let pokemons of pokemons">
        <td style="text-align: center;">{{pokemons.pokedex_number}}</td>
        <td style="text-align: center;">{{pokemons.name}}</td>
        <td style="text-align: center;">{{pokemons.speed}}</td>
        <td style="text-align: center;">{{pokemons.special_defence}}</td>
        <td style="text-align: center;">{{pokemons.special_attack}}</td>
        <td style="text-align: center;">{{pokemons.defence}}</td>
        <td style="text-align: center;">{{pokemons.attack}}</td>
        <td style="text-align: center;">{{pokemons.hp}}</td>
        <td style="text-align: center;">{{pokemons.primary_type}}</td>
        <td style="text-align: center;">{{pokemons.secondary_type}}</td>
        <td style="text-align: center;"><img src="../assets/nb/{{pokemons.pokedex_number}}.png"/></td>
      </tr>
    </tbody>
</table>
